@font-face {
	src: url('fonts/Odelette.ttf');
    font-family: Odelette;
    
}


body
{	
	
	width: 80%;
	border-width: 1px;
	background: #ffffff; 
	color: black;
	
	border-style: solid;;
	font-family: Helvetica;
	
	font-size: 1em;
	line-height: 1.5em;
	margin-left: 10%;
	margin-top: 5%;
}
header
{
	border-width: 2px;
	border-style: solid;
	
	font-family: 'Helvetica';
	width: 100%;
	text-align: center;

}

section
{

	text-align: center;
	border-width: 2px;
	width: 100%;
	border-style: solid;;
}
h1
{
	font-family: 'Odelette';
	font-size: 4em;
	letter-spacing: 0.08em;
}
h2
{
	text-align: center;
	font-family: 'Odelette', Georgia, serif;
	font-size: 3em;
}

h3
{
	font-family: 'Helvetica', Georgia, serif;
	font-size: 1.3em;
	text-align: center;
}

p
{
	text-align: justify;
	font-family: 'Verdana', Georgia, serif;
}
img
{
	opacity: 1;
}
table
{

	width: 100%;
	background: #ffffff; 
	text-align: left;

	
}
tr
{
	border: 1px solid #0088dd;
	padding: 15px;
}
th
{
	border: 1px solid #0088dd;
	text-align: center;
	font-size: .9em;
}
td{
	border: 1px solid #0088dd;
	vertical-align: middle;

}
.listPortada
{
	font-family: "Georgia Bold Italic";
	font-size: 1.5em;
	text-align: center;
	display: inline;
	margin-right: 50px;
}
.ctl_me
{
	font-family: 'App Bold Italic';
    src: url('fonts/GoogleSans-BoldItalic.ttf');
    font-size: 1em;
}

.bioSection
{
	margin: 10%;
	
	font-size: 1.3em;

}

.imgtd
{
	text-align: center;
}